@inherits EZDialogYesNoBase

@if (ShowConfirmation)
{

    <!-- Modal -->
    <div class="modal fade show" id="staticBackdrop" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
         aria-hidden="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">@Caption</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            @onclick="() => HandleConfirmationChange(false)"></button>
                </div>
                <div class="modal-body">
                    <p>@Message</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            @onclick="() => HandleConfirmationChange(false)">
                        No
                    </button>
                    <button type="button" class="btn btn-primary"
                            @onclick="() => HandleConfirmationChange(true)">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
}
